{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'user/styles.css' %}">
  <title>Playfull Web - Регистрация</title>
</head>
<body>
  <div class="register_form">
    <div class="form_header">
      <h2 class="form_title">Playfull Web</h2>
      <p class="form_subtitle">Пройдите регистрацию</p>
    </div>

    <form action="/register" method="POST">
      {% csrf_token %}
      <div class="form_items">
        <div class="form_item">
          <label for="name">Как тебя зовут?</label>
          <input type="text" autocomplete="false" id="name" name="name">
        </div>
        <div class="form_item">
          <label for="email">Электронная почта</label>
          <input type="text" autocomplete="false" id="email" name="email">
        </div>
        <div class="form_item">
          <label for="pass1">Пароль</label>
          <input type="text" autocomplete="false" id="pass1" name="pass1">
        </div>
        <div class="form_item">
          <label for="pass2">Повторите пароль</label>
          <input type="text" autocomplete="false" id="pass2" name="pass2">
        </div>
      </div>

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="form_actions">
        <button type="submit">Зарегистрироваться</button>
        <a href="/login">Войти</a>
      </div>
    </form>
  </div>
</body>
</html>